apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: express-4016-deployment
  namespace: hwang268
  labels:
    app: express-4016
spec:
  replicas: 1
  selector:
    matchLabels:
      app: express-4016
  template:
    metadata:
      labels:
        app: express-4016
    spec:
      containers:
      - name: express-4016
        image: hwang1994/express_4016:latest
        envFrom:
          - configMapRef:
              name: express-4016-config
          - secretRef:
              name: express-4016-secret
        ports:
        - containerPort: 30000
        resources:
          limits:
            cpu: 200m
          requests:
            cpu: 200m
        env:
        - name: envValue
          value: "14"
        volumeMounts:
        - name: string-volume
          mountPath: /app/assignment3
      volumes:
      - name: string-volume
        persistentVolumeClaim:
          claimName: express-4016-pvc